<link rel="stylesheet" href="/css/project.css">
<a href="/projects/<%=projects._id%>">

    <div id="project-container">
    <div class="project-item">
    <li>
        
        <p>
            <span>Name of Project :</span> <%= projects.name %>
        </p>
        <p>
           <span> Description :</span> <%= projects.description%>
        </p>
        <p>
            <span>Author :</span> <%= projects.author %>
        </p>
        
    </li>
</div>

</a>

<a href="/projects/issue">Report Issue</a>


<form action="/projects/<%=projects._id%>" method="post">
    <input type="text" name="title" placeholder="Title" required>
    <textarea name="description" placeholder="Describe Issue"></textarea>
    <input type="text" name="author" placeholder="Author">
    <select name="labels" class="custom-select" multiple>
        <option value="bug">bug</option>
        <option value="enhancement">enhancement</option>
        <option value="good first issue">good first issue</option>
        <option value="help wanted">help wanted</option>
        <option value="question">question</option>
        <option value="wont fix">wont fix</option>
    </select>
    <input type="hidden" name="project" value="<%=projects._id%>">
    <input type="submit" value="Add Issue">
</form>


<div>

     <form action="/projects/filter" method="post">

    <fieldset>
        
        <legend>Search By Filters</legend>

        <input type="checkbox" name="labels" id="bug" value="bug">
        <label for="bug">Bug</label>

        <input type="checkbox" name="labels" id="question" value="question">
        <label for="question">Question</label>

        <input type="checkbox" name="labels" id="help wanted" value="help wanted">
        <label for="help wanted">Help Wanted</label>

        <input type="checkbox" name="labels" id="enhancement" value="enhancement">
        <label for="enhancement">Enhancement</label>
        
        <input type="checkbox" name="labels" id="good first issue" value="good first issue">
        <label for="good first issue">Good first issue</label>

        <input type="checkbox" name="labels" id="wont fix" value="wont fix">
        <label for="wont fix">Won't fix</label>
    
        <input type="text" name="author" placeholder="Search By Author">
        <input type="hidden" name="id" value="<%=projects._id%>">
        <input type="submit" value="Filter">
    </fieldset>

</form>

</div>




<div id="issues-list">

    <h2>Issues</h2>
      
        <% for(issue of projects.issues){ %> 
           
     
                <div class="issue-item">
                    <p><span>Title :</span> <%= issue.title %> </p>
                    <p><span>Description :</span> <%= issue.description %> </p>
                    <p><span>Author :</span><%= issue.author %> </p>


                    <% if(issue.labels.length > 0){ %>

                        <div class="labels">
                        <% for(label of issue.labels){ %>
                            
                            <div class="label-item">
                                <%= label %> 
                            </div>
                            
                            <% } %>
                        </div>
                    <% } %>

                </div>
                
                
                

          

        <% } %>
    



</div>
</div>

<script src="/js/labels.js"></script>


